<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061607431313-mdj83gb8osvb7d3p0iku2qpnhloug2i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061607431313-mdj83gb8osvb7d3p0iku2qpnhloug2i4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1061607431313-a3n0iioi4e3ugs443fofvakp8b40frt6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxvlF_yzykajacJkaJ3X7nUpRYhDx1-aw</string>
	<key>GCM_SENDER_ID</key>
	<string>1061607431313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>josec.demoh</string>
	<key>PROJECT_ID</key>
	<string>demoh-939a7</string>
	<key>STORAGE_BUCKET</key>
	<string>demoh-939a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061607431313:ios:dba93dfae0d7166a</string>
	<key>DATABASE_URL</key>
	<string>https://demoh-939a7.firebaseio.com</string>
</dict>
</plist>